<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dash</title>
</head>
<body>
    <h2>Enter Student Data</h2>
    <form action="http://127.0.0.1:2000/submit" method="post">
        <label for="studentid">StudentID:</label>
        <input type="text" id="studentid" name="studentid">
        <br>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname">
        <br>
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname">
        <br>
        <label for="acit3895">ACIT 3895::</label>
        <input type="text" id="acit3895" name="acit3895">
        <br>
        <label for="acit4850">ACIT 4850:</label>
        <input type="text" id="acit4850" name="acit4850">
        <br>
        <label for="acit4880">ACIT 4880:</label>
        <input type="text" id="acit4880" name="acit4880">
        <br>
        <label for="acit4640">ACIT 4640:</label>
        <input type="text" id="acit4640" name="acit4640">
        <br>
        <label for="acit4630">ACIT 4630:</label>
        <input type="text" id="acit4630" name="acit4630">
        <br>
        <input type="submit" value="Submit">
      </form>
</body>
</html>